<div class = "pt-5">
  <div class="container white-back border pt-3">
    <h1>Bookings</h1>

    <div id="bookings">
      <% if @bookings.blank? %>
        <p>You don't have any bookings yet. Go book a boat for your next adventure!</p>
        <p><%= link_to "Book a Party boat", party_boats_path %></p>
        <p><%= link_to "Book a Yacht", yachts_path %></p>
        <p><%= link_to "Book a Fishing boat", fishing_boats_path %></p>
      <% else %>

        <p> Your bookings details for your trip aboard <strong><%= @boat.name %></strong> </p>
        <p> Type of boat: <%= @boat.category %></p>
        <p> Boat maximum capacity: <%= @boat.capacity %></p>
        <p> Price: $<%= @boat.price %></p>
        <p> Start date: <%= @bookings.start_date %> </p>
        <p> End date: <%= @bookings.end_date %> </p>
      <% end %>
    </div>
  </div>
</div>
