<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <div class="bg-white rounded p-3 shadow">
        <h3> Book this boat</h3>
        <%= simple_form_for ([@boat, @booking]) do |f| %>
          <%= f.input :number_of_people, label: 'Number of people', placeholder: '4, 10, 50...' %>
          <%= f.input :start_date, label: 'Date you will start sailing',  as: :date, html5: true %>
          <%= f.input :end_date, label: 'Date you will return the boat', as: :date, html5: true %>
          <%= f.button :submit, "Book this boat", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
