<div class="navbar-lewagon">

  <%= link_to root_path do %>
    <%= image_tag('logo_blue.png', class: 'navbar-brand') %>
  <% end %>
  <%= link_to  "Home", root_path, class: '' %>
  <%= link_to "Boats", boats_path, class: '' %>
  <%= link_to "Become a Host", new_boat_path, class: '' %>
    <%= link_to root_path do %>
    <% if signed_in? %>
      <%= image_tag('user_icon.png', class: 'avatar') %>
    <% end %>
  <% end %>
</div>
