<div class="navbar-lewagon">

  <%= link_to root_path do %>
    <%= image_tag('logo_blue.png', class: 'navbar-brand') %>
  <% end %>
  <%= link_to "Home", '', class: '' %>
  <%= link_to "Boats", '', class: '' %>
  <%= link_to "Become a Host", '', class: '' %>
    <%= link_to root_path do %>
    <%= image_tag('user_icon.png', class: 'avatar') %>
  <% end %>
</div>
