
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h1><%= "Add a new boat" %></h1>
          <br>
          <%= simple_form_for [ @user, @boat ] do |f| %>
            <%= f.input :name, placeholder: 'Add a boat name' %>
            <%= f.input :category, collection: [ "Party", "Yacht", "Fishing"]%>
            <%= f.input :capacity, placeholder: 'Add the boat number of people' %>
            <%= f.input :price, placeholder: 'Boat price per night' %>
            <%= f.input :photo, as: :file %>
              <p><%= f.submit "Add boat", class: "btn btn-primary" %></p>
          <% end %>
        </div>
    </div>
  </div>
</div>
