<!-- <%= render 'shared/navbar' %> -->

<h1><%= @boat.name %></h1>
<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

      </div>
      <div class="carousel-item">
        <%= image_tag('Yacht2.png', class: "d-block w-100") %>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container pt-4">
  <div class="row">
    <div class="col">
      <h2>Boat Specifications:</h2>
      <p>LENGTH	188'6 / 57.45m
        BEAM	34'5 / 10.5m
        DRAFT	10'4 / 3.15m
        GROSS TONNAGE	1,001 GT
        CRUISING SPEED	14 Knots
        BUILT	2015</p>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title"><%= "$ #{@boat.price}" %></h2>
      </div>
      <div class="card-body">
        <%= render 'shared/booking_form' %>
      </div>
    </div>
    </div>
  </div>
</div>

<img src="app/assets/images/logo_blue.png" class="rounded float-start" alt="...">
