<!-- <%= render 'shared/navbar' %> -->

<div class="container pt-3">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% if @boat.photo.attached? %>
          <%= cl_image_tag @boat.photo.key, height: 460, width: 950, crop: :fill %>
        <% end %>
      </div>

  </div>
</div>

<div class="container pt-4 ">
  <div class="row ">
    <div class="col white-back pt-3">
      <h1 class="card-text"><%= @boat.name %> <%=  @boat.category %> Boat</h1>
      <p>Capacity for <%= @boat.capacity %> sailors</p>
      <div class= "container border bottom"></div>

      <h2 class="pt-4">Boat Specifications:</h2>
      <p>LENGTH	188'6 / 57.45m<br>
        BEAM	34'5 / 10.5m<br>
        DRAFT	10'4 / 3.15m<br>
        GROSS TONNAGE	1,001 GT<br>
        CRUISING SPEED	14 Knots<br>
        BUILT	2015</p>

      <div class= "container border bottom"></div>
      <p class="pt-4">Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues like trouble checking in.</p>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title"><%= "$ #{@boat.price}" %></h2>
      </div>
      <div class="card-body">
        <%= render 'shared/booking_form' %>
      </div>
    </div>
    </div>
  </div>
</div>
